// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@use "../abstracts/variables" as var;

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {

    &,
    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      @content;
    }
  }

  @else {

    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      @content;
    }
  }
}

/// Breakpoints
/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small' : (min-width: 767px),
  'medium' : (min-width: 992px),
  'large' : (min-width: 1200px)
);

@mixin respond-to($name) {

  // If the key exists in the map
  @if map-has-key(var.$breakpoints, $name) {

    // Prints a media query based on the value
    @media #{inspect(map-get(var.$breakpoints, $name))} {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{var.$breakpoint}`. "
    +"Please make sure it is defined in `$breakpoints` map.";
  }
}